.inputField {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid $gray-2;
  &:focus {
    outline-color: $primary;
  }
  &-error {
    border: 2px solid $error;
    &:focus {
      outline-color: $error;
    }
  }
}
