:root {
  font-family: "Hiragino Sans", "Meiryo", "Source Han Sans", "Noto Sans CJK JP", "Yu Gothic", sans-serif;
  color: #2b2b2b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}
