// ==================
// color
$primary: #0055AA;
$secondary: #FF8000;
$alert-normal: #C9E3FF;
$alert-error: #FFD3A6;
$background: #F2F2F2;
$white: #fff;
$gray-1: #c4c9d0;
$gray-2: #a4a6b3;
$gray-3: #9098a1;
$error: #e24242;
$bg-black: #363740;
